<!-- CONTACT FORM  -->
<section id="contact-section">

    <div class="contact-wrap">
        
        <h2>Get in Touch</h2>
        <p>Let's chat </p>
        <p>dana@danagaiser.com</p>

        <form id="contact-form" action="#!" method="POST" enctype="text/plain">
            <fieldset>
                
                <input type="text" name="name" placeholder="Your Name" required>

                <input type="tel" name="phone" placeholder="Your Phone Number" required>
                
                <input type="email" name="email" placeholder="Your Email" required>

                <textarea name="message" placeholder="Write your message . . ." required></textarea>
            </fieldset>

            <div class="error hidden">
                <h2>Something went wrong</h2>
                <p>Please check the form for correct entries.</p>
            </div>

            <button type="submit">SUBMIT</button>
        </form>

    </div>

</section>