<section id="contact-section">

    <div class="contact-wrap">
        
        <form id="contact-form">
            <fieldset>
                <input type="text" name="firstname" placeholder="First Name">
                <input type="text" name="lastname" placeholder="Last Name">
                <textarea rows="" cols="" placeholder="Write your message . . ."></textarea>
            </fieldset>
        </form>

    </div>

</section>