<!-- EXPERIENCES -->

<section id="experiences">
    
    <h2>Experience</h2>
    <div class="exp-container">
        

        <div class="box-left">
            
        </div>
        <div class="box-right">
            <div class="sm-box-top">
                
            </div>
            <div class="sm-box-bottom">
                
            </div>
        </div>


    </div>

</section>