<!-- EXPERIENCES -->

<section id="experiences" class="s-section" data-section-name="exp">
    
    <h2>Experience</h2>
    <div class="exp-container">
        
        <div class="work-info">
            <p>A 15-year veteran of the wine industry, Dana has served as a Sommelier and Beverage Director at top restaurants including <em>Veritas</em>, <em>Estiatorio Milos</em> and others in New York, Nantucket and California.</p>
            <ul class="work-list">
                <li>Veritas</li>
                <li>Rêve PR</li>
                <li>Bouley</li>
                <li>Seventh House PR</li>
                <li>Megu</li>   
                <li>Park Blue</li>
                <li>Anthos</li>
                <li>Barbounia</li>
                <li>Estiatorio Milos</li>
                <li>Morrell</li>    
                <li>Nice Matin</li>
                <li>The Cub Room</li>
                <li>The Summer House</li>
                <li>Topper's</li> 
                <li>Fifty-Six Union</li>
                <li>Redwood Park</li>
                <li>Erna's Elderberry House</li>
            </ul>
            <p class="current-work">He is currently working for <em>Lauber Imports</em>, the fine wine division of the largest wine and spirits distributor in the United States.</p>
        </div>

        <!-- <hr class="somm-hr"> -->
        <img class="somm-hr" src="../../assets/lines/line.png" alt="fancy line divider">
     

        <div class="somm-info">
            <div class="somm-img-wrap">
                <img src="assets/images/top-somm-compressor.jpg" alt="Top Somm Champion medallion">
            </div>
            <p>After producing one of the top scores in the country on the <em>Advanced Sommelier Exam</em> and <em>winning</em> Top<span class="somm">Somm</span> East Coast in 2013, Dana placed second at Top<span class="somm">Somm</span> Nationals in 2015. He is pursuing the rigorous Master Sommelier Diploma Exam, and has passed the Theory and Blind Tasting sections</p>
        </div>
        
        <!-- <hr class="somm-hr"> -->
        <img class="somm-hr" src="../../assets/lines/line.png" alt="fancy line divider">
      

        <% include ./uncorked %>
        
    </div>

    <hr>
</section>