<!-- EXPERIENCES -->

<section id="experiences" class="s-section" data-section-name="exp">
    
    <h2>Experience</h2>
    <div class="exp-container">
        
        <div class="work-info">
            <p>A 15-year veteran of the wine industry, Dana has served as a Sommelier and Beverage Director at top restaurants including <em>Veritas</em>, <em>Estiatorio Milos</em> and others in New York, Nantucket and California. He is currently working for <em>Lauber Imports</em>, the fine wine division of the largest wine and spirits distributor in the United States.</p>
        </div>

        <div class="somm-info">
            <div class="somm-img-wrap">
                <img src="assets/images/top-somm.jpg" alt="Top Somm Champion medallion">
            </div>
            <p>After producing one of the top scores in the country on the <em>Advanced Sommelier Exam</em> and <em>winning</em> Top<span class="somm">Somm</span> East Coast in 2013, Dana placed second at Top<span class="somm">Somm</span> Nationals in 2015. He is pursuing the rigorous Master Sommelier Diploma Exam, and has passed the Theory and Blind Tasting sections</p>
        </div>

        <div class="uncorked-info">
            <p>Featured contestant on Esquire Network's original TV series, <em>Uncorked</em>.</p>
            <blockquote cite="http://winefolly.com/update/uncorked-a-great-show-about-wine-except-for-one-thing/">
                " <em>The Natural</em> "
            </blockquote>
            <blockquote cite="https://www.youtube.com/watch?v=qZQc0wfkU7I">
                " <em>Blind Tasting Superstar</em> "
                <div class="quote-by">
                    - Esquire
                </div>
            </blockquote>
            <div class="uncorked-img-wrap">
                <img src="assets/images/Bosker-Master-Sommelier.jpg" alt="Screen shot of Dana Gaiser in a tasting examination from Esquire Network's TV series, Uncorked">
            </div>
        </div>

        <ul class="work-list">
            <li>Veritas</li>
            <li>Rêve PR</li>
            <li>Bouley</li>
            <li>Seventh House PR</li>
            <li>Megu</li>   
            <li>Park Blue</li>
            <li>Anthos</li>
            <li>Barbounia</li>
            <li>Estiatorio Milos</li>
            <li>Morrell</li>    
            <li>Nice Matin</li>
            <li>The Cub Room</li>
            <li>The Summer House</li>
            <li>Topper's</li> 
            <li>Fifty-Six Union</li>
            <li>Redwood Park</li>
            <li>Erna's Elderberry House</li>
        </ul>


    </div>

     <!-- MORE BTN -->
     <a class="check-more exp-arrow" href="#!">
        <!-- <label for="more-icon">Checkout more</label> -->
        <!-- <img id="more-icon" class="chevron-down" src="/assets/icons/chevron-down.svg" alt="chevron arrow down icon">             -->
        <svg class="chevron-down"  fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9  c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3  z"></path></svg>
    </a> 

    <hr>
</section>