<div class="f-social-links">
    <ul>
        <li class="fb"><a class="fb-icon" href="https://www.facebook.com/dana.gaiser" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li class="insta"><a class="insta-icon" href="https://www.instagram.com/richeboured/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li class="linkd"><a class="linkd-icon" href="https://www.linkedin.com/in/dgaiser/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li class="twitter"><a class="twitter-icon" href="https://twitter.com/Richeboured/media?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
</div>

<div class="bottom">
    <div class="email">
        Get in Touch<i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
    <span>copyright 2017 Dana Gaiser | All Rights Reserved </span>
</div>