<!-- BANNER -->
<div class="banner partial s-section" data-section-name="header">
    <div class="title">
        <a href="/">
            <h3>Dana Matthew Gaiser</h3>
        </a>
        <!-- <img src="/assets/icons/icon.png" alt=""> -->
    </div>

    <!-- NAV -->
    <nav class="nav" role="navigation">
        <button class="burger-btn" type="button">
            <div class="burger-icon"></div>
        </button>

        <ul class="menu-list">
            <li><a class="intro" href="#intro-section">Introduction</a></li>
            <li><a class="services" href="#services">Services</a></li>
            <li><a class="experiences" href="#experience">Experience</a></li>
            <li><a class="contact email-link" href="#contact">Contact Me</a></li>
        </ul>

    </nav>

</div>  

<!-- SPLASH TEXT -->
<div class="splash-text">
    <h2>Wine &amp; Spirits</h2>
    <ul>
        <li>CONSULTING</li>
        <li>DEVELOPMENT</li>
        <li>EDUCATION</li>
    </ul>
</div>

<!-- MORE BTN -->
<a class="check-more header-more" href="#!">
    <!-- <label for="more-icon">Checkout more</label> -->
    <img id="more-icon" class="chevron-down" src="/assets/icons/chevron-down.svg" alt="chevron arrow down icon">            
</a> 

<!-- header dim overlay -->
<div class="dim"></div>













<!-- <ul class="nav-menu">
    <li>
        <ul class="social-links">
            <li><a class="fb-icon" href="https://www.facebook.com/dana.gaiser" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a class="insta-icon" href="https://www.instagram.com/richeboured/?hl=en" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a class="linkd-icon" href="https://www.linkedin.com/in/dgaiser/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li><a class="twitter-icon" href="https://twitter.com/Richeboured/media?lang=en" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href=""></a></li>
        </ul>
    </li>
</ul> -->