<!-- INTRO -->
<section id="intro-section" class="s-section" data-section-name="intro">
    <div class="intro-wrap">

        <!-- <h2>Introduction</h2> -->

        <div class="intro-main">
            <div class="intro-inner-wrap">
            
                <div class="prof-wrap">
                    <img id="prof-img" class="prof-img" src="/assets/images/dana_gaiser.jpg" alt="">
                    <label for="prof-img">photo by Shannon Sturgis</label>
                </div>
                <div class="intro-overview">
                    <div class="overview">
                        <p><em>Dana Gaiser LLC </em> is dedicated to providing a full range of <b>expert beverage consulting services</b> for institutions and events within the public and private spheres.</p>                                    
                    </div>
                    <div class="overview">
                        <p>A <b><em>15 yr veteran</em></b> in the wine industry, having served as a <b>Sommelier</b> and <b>Beverage Director</b> at world-class restaurants including <em>Veritas</em> &amp; <em>Estiatorio Milos</em></p>
                    </div>
                    <div class="overview">
                        <p>Featured on Esquire Network's TV Series <b><em>Uncorked</em></b></p>
                    </div>
                    <div class="overview">
                            <p><blockquote cite="https://www.newyorker.com/culture/culture-desk/what-it-takes-to-be-a-master-sommelier">
                                <b><em>"Blind-tasting Savant"</em></b>
                            </blockquote></p>
                            <p>- Bianca Bosker, <em>The New Yorker</em></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="aside-hr"></div>

        <div class="intro-aside">
            <div class="aside-container">
                    <h3><span class="faded">Get in </span><br>TOUCH</h3>
                    <p>Reach out for more information and to discuss any inqueries you may have.</p>
                    <button class="email-btn email-link" type="button">MESSAGE</button>
            </div>
        </div>

        <div class="clearfix"></div>

        <!-- MORE BTN -->
        <a class="check-more intro-arrow" href="#!">
            <!-- <label for="more-icon">Checkout more</label> -->
            <!-- <img id="more-icon" class="chevron-down" src="/assets/icons/chevron-down.svg" alt="chevron arrow down icon">             -->
            <svg class="chevron-down"  fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9  c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3  z"></path></svg>
        </a> 
   </div>
</section>