<!-- INTRO -->
<section id="intro-section">
   <div class="intro-main">
        <div class="intro-inner-wrap">
        
            <div class="prof-wrap">
                <img id="prof-img" class="prof-img" src="/assets/images/dana_gaiser.jpg" alt="">
                <label for="prof-img">photo by Shannon Sturgis</label>
            </div>
            <div class="intro-overview">
                <div class="overview">
                    <p><em>Dana Gaiser LLC </em> is dedicated to providing a full range of <b>expert beverage consulting services</b> for institutions and events within the public and private spheres.</p>                                    
                </div>
                <div class="overview">
                    <p>A <b><em>15 yr veteran</em></b> in the wine industry, Dana has served as a <b>Sommelier</b> and <b>Beverage Director</b> at top restaurants</p>
                </div>
                <div class="overview">
                    <p>Featured on Esquire Network's TV Series <b><em>Uncorked</em></b></p>
                </div>
            </div>
        </div>
    </div>

    <div class="aside-hr"></div>

   <div class="intro-aside">
       <div class="aside-container">
            <h3><span class="faded">Get in </span><br>TOUCH</h3>
            <p>Reach out for more information and to discuss any inqueries you may have.</p>
            <button class="email-btn" type="button">MESSAGE</button>
       </div>
   </div>

   <div class="clearfix"></div>
</section>