<!-- SERVICES -->

<section id="services">
    
    <div class="service-banner">
        <h2>Services</h2>
        
            <ul>
                <li>
                    <div class="circle pairings">
                        <svg id="pairings" role="img" aria-label="Food and beverage pairing icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M32,80.568c-1.344,0-3-1.089-3-2.433V61.912c0-1.344,1.656-2.433,3-2.433c1.344,0,3,1.089,3,2.433v16.222   C35,79.478,33.344,80.568,32,80.568z"></path><path d="M44.546,82H20.213c-1.344,0-2.433-0.156-2.433-1.5s1.089-1.5,2.433-1.5h24.333c1.344,0,2.433,0.156,2.433,1.5   S45.89,82,44.546,82z"></path><path d="M82.219,33.465c0.001,1.175-0.72,2.121-1.602,2.12l0,0c-0.879,0-1.597-0.952-1.591-2.122l0.003-1.083l0.017-12.751   c0.002-1.175-0.714-2.126-1.598-2.127l0,0c-0.882-0.005-1.596,0.946-1.604,2.12l-0.037,1.024L75.786,33.4   c0.001,1.175-0.717,2.126-1.599,2.125l0,0c-0.885,0-1.598-0.957-1.596-2.127l-0.06-0.573l0.021-12.752   c-0.001-1.179-0.66-2.534-1.545-2.534l0,0c-0.882-0.005-1.65,1.354-1.653,2.528l-0.018,12.751l0.033,1.058   c0.001,1.18-0.753,1.873-1.633,1.873l0,0c-0.886,0-1.563-0.7-1.563-1.874l0.021-13.81c0.001-1.179-0.691-3.84-1.576-3.845l0,0   c-0.884,0-1.615,2.659-1.622,3.839l-0.018,12.752l-0.001,1.475c-0.009,5.626,1.622,9.466,6.189,9.473l0.258,0.374l-0.052,35.225   c-0.002,2.519,1.95,4.559,4.361,4.56l0,0c2.412,0.006,4.368-2.027,4.37-4.546l0.052-35.225l0.171-0.374   c4.565,0.007,7.005-3.827,7.015-9.457l0-0.651l0.003-1.276l0.018-12.752c0.003-1.17-0.887-3.384-1.769-3.389l0,0   c-0.886,0-1.426,2.213-1.429,3.383l-0.02,12.756L82.219,33.465z"></path><path d="M15,19v24.698C15,53.772,22.334,62,32.408,62h-0.077C42.405,62,50,53.772,50,43.698V19H15z M47,37H18V23h29V37z"></path></g></svg>
                    </div>
                    <label for="pairings">Food &amp; Beverage Pairings</label>
                </li>
                <li>
                    <div class="circle cocktails">
                        <svg id="cocktails" role="img" aria-label="cocktails icon" xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="-949 951 100 100" style="enable-background:new -949 951 100 100;" xml:space="preserve"><switch><foreignObject requiredExtensions="http://ns.adobe.com/AdobeIllustrator/10.0/" x="0" y="0" width="1" height="1"></foreignObject><g i:extraneous="self"><g><path d="M-901.8,1011.9L-901.8,1011.9C-901.9,1011.8-901.8,1011.9-901.8,1011.9z"></path><g><path d="M-896.2,1011.9L-896.2,1011.9C-896.2,1011.9-896.1,1011.8-896.2,1011.9z"></path><path d="M-865.1,954.9c-0.5-0.9-1.4-1.4-2.4-1.4h-62.9c-1,0-1.9,0.5-2.4,1.4c-0.5,0.9-0.5,1.9,0,2.8l31.1,54.2v31h-10.5      c-1.5,0-2.8,1.3-2.8,2.8c0,1.5,1.3,2.8,2.8,2.8h26.6c1.5,0,2.8-1.3,2.8-2.8c0-1.5-1.3-2.8-2.8-2.8h-10.5v-31l31.1-54.2      C-864.6,956.8-864.6,955.8-865.1,954.9z M-878.6,970c-7.7-0.1-10.7,2-20.4,4.5c-6.4,1.7-13.3,0.7-18.1-0.4l-8.6-15h53.3      L-878.6,970z"></path></g></g></g></switch></svg>
                    </div>
                    <label for="cocktails">Cocktails</label>
                </li>
                <li>
                    <div class="circle vino">
                        <svg id="vino" role="img" aria-label="Wine bottle and glass icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve"><path d="M41.993,8.034V7.583c0-0.488-0.526-1.014-0.526-1.014c-1.652-0.413-6.422-0.15-6.422-0.15  c-0.901,0.075-0.977,1.239-0.977,1.239v0.376H41.993z"></path><path d="M38.894,64.086c-5.44,0-10.452-0.553-12.562-0.818v21.734c0.084,0.01,0.174,0.021,0.271,0.033  c0.705,0.09,1.72,0.207,2.955,0.326c2.471,0.236,5.824,0.473,9.337,0.473c2.156,0,4.372-0.09,6.478-0.32  c1.796-0.195,3.511-0.496,5.036-0.926V62.896c-1.52,0.398-3.164,0.674-4.864,0.861C43.362,63.996,41.093,64.086,38.894,64.086z"></path><path d="M45.542,87.082c-2.181,0.238-4.45,0.328-6.649,0.328c-5.454,0-10.478-0.555-12.579-0.82  c0.097,4.771,3.021,4.939,3.021,4.939c9.916,2.027,18.592-0.225,18.592-0.225c2.331-0.539,2.521-3.783,2.502-5.09  C48.904,86.615,47.251,86.895,45.542,87.082z"></path><path d="M46.125,40.373c-3.042-6.423-3.944-16.639-3.944-16.639l-0.011-0.602l-0.024-1.352l-0.171-9.466l0.233-1.352  c0.058-0.138,0.087-0.263,0.087-0.263V9.385h-8.582c-0.026,0.265-0.02,0.488-0.02,0.488c-0.017,0.407,0.043,0.791,0.113,1.09  l0.188,1.352v9.466v1.352v1.804c0,7.211-4.207,16.226-4.207,16.226c-2.554,6.16-3.455,14.422-3.455,14.422v6.092  c0.084,0.012,0.174,0.023,0.271,0.035c0.705,0.088,1.72,0.207,2.955,0.324c2.471,0.236,5.824,0.473,9.337,0.473  c2.156,0,4.372-0.088,6.478-0.318c1.796-0.195,3.511-0.498,5.036-0.926v-5.115C50.407,49.613,46.125,40.373,46.125,40.373z"></path><path d="M62.289,73.479l-0.131,13.27c0,0-0.195,1.961-1.635,2.156c0,0-3.855,0.719-4.574,1.047c0,0-0.852,0.521-0.197,0.914  c0,0,1.83,1.242,7.256,1.307c0,0,4.771,0.066,7.387-1.109c0,0,0.783-0.721-0.85-1.111c0,0-4.053-0.916-4.969-1.504  c0,0-0.588-0.719-0.588-1.504V73.349c0,0,8.629-5.424,8.105-12.941c0,0-0.785-7.256-1.242-9.281c0,0-6.406-0.98-14.773-0.262  c0,0-1.438,5.883-1.633,9.412C54.445,60.276,53.334,66.747,62.289,73.479z"></path></svg>
                    </div>
                    <label for="vino">Vino</label>
                </li>
            </ul> 
    </div>

</section>