<div class="uncorked-info">
    <p>Featured contestant on Esquire Network's original TV series, <em>Uncorked</em>.</p>
    <div class="quotes">
        <blockquote cite="http://winefolly.com/update/uncorked-a-great-show-about-wine-except-for-one-thing/">
            " <em>The Natural</em> "
        </blockquote>
        <blockquote cite="https://www.youtube.com/watch?v=qZQc0wfkU7I">
            " <em>Blind Tasting Superstar</em> "
            <div class="quote-by">
                - Esquire
            </div>
        </blockquote>
    </div>


   <div class="clip-wrap">
        <h2>Checkout a clip from the show</h2>
        
        <div class="outer-frame-wrap">
            <div class="frame-wrap">
                <iframe src="https://www.youtube.com/embed/qZQc0wfkU7I"></iframe>
            </div>
        </div>
   </div>

    <div class="uncorked-slider">
        <div class="slide exam">
            <!-- <img src="assets/images/Bosker-Master-Sommelier.jpg" alt="Screen shot of Dana Gaiser in a tasting examination from Esquire Network's TV series, Uncorked"> -->
        </div>
        <div class="slide side-suit">
            <!-- <img src="assets/images/side-suit.jpg" alt="Image of Dana Gaiser entertaining others at a bar"> -->
        </div>
        <div class="slide dana">
            <!-- <img src="assets/images/dana-uncorked-profile.png" alt="Image of Dana Gaiser in suit on Esquire Network's TV series, Uncorked"> -->
        </div>
        <div class="slide cast">
            <!-- <img src="assets/images/uncorked-cast.jpg" alt="Group shot cast of Esquire Network's TV series, Uncorked"> -->
        </div>
        <div class="slide cast-table">
            <!-- <img src="assets/images/uncorked-cast-table.jpg" alt="Image of cast of Esquire Network's TV series, Uncorked sitting at a dinner table"> -->
        </div>
    </div>



</div>