<% layout('layout') %>

<div class="container">
    
    

    <% include ./partials/intro %>
    

    <% include ./partials/service %>
    
    <% include ./partials/experience %>


</div>

<div class="img-banner"></div>
