<% layout('layout') %>

<div class="container">
    
    

    <% include ./partials/intro %>
    

    <% include ./partials/service %>
    
    <% include ./partials/experience %>

    <% include ./partials/instagram %>

    <% include ./partials/contact %>


</div>


<div class="img-banner"></div>
