/* * * * * * * * * * * * * * * * * * */
/*    Experience  (Base / Mobile)                 
/* * * * * * * * * * * * * * * * * * */
#experiences {
    position: relative;
    width: 100%;
    max-width: 1500px;
    min-height: 300px;
    margin: 50px auto;
    padding: 20px 0;
    z-index: 1;

    > h2 {
        color: $primary;
        font-family: 'tangerine', cursive;
        font-size: 70px;
        font-weight: lighter;
        text-align: center;
    }

    hr {
        width: 80%;
        // height: 1px;
        margin: 90px auto 0;
        border: 1px solid rgba(0,0,0,0.05);
    }

    .somm-hr {
        max-width: 600px;
        margin: 60px auto;
    }
    

    .exp-arrow {
        border-color: transparent;
        bottom: 20px;
        svg {
            fill: $primary;
            fill-opacity: 0.4;
        }
    }
}




.exp-container {
    position: relative;
    color: $primary;
    font-size: 22px;
    width: 95%;
    max-width: 1600px;
    margin: 0 auto;
    
    img {
        width: 100%;
        height: 100%;
    }

    @include mediaMin($tablet) {
        width: 90%;
        min-width: 680px;
    }
}

.work-info {
    position: relative;
}

.current-work {
    margin-top: 100px;
    margin-bottom: 60px;

    @include mediaMin($desktop + 20) {
        margin-top: 200px;
    }
}


// places worked list
.work-list {
    font-family: "Raleway", sans-serif;
    text-align: center;
    max-width: 600px;
    margin-top: 80px;
    
    @include mediaMin($landscape) {
        margin: 80px auto 0;
    }

    @include mediaMin($desktop + 20) {
        float: right;
        margin: 20px 20px 80px;
    }

    @include mediaMin(1400px) {
        margin-top: -40px;
    }


    li {
        margin-bottom: 8px; 
        
        &:not(:last-of-type):after {
            content: '';
            width: 1px;
            height: 30px;
            margin-right: 0;
            margin-left: 5px;
            border-left: 1.5px solid rgba(0,0,0,0.7);
        }

        &.end-of-row:after {
            border: none;
        }
    }
}


// SOMM medal img container
.somm-img-wrap {
    @include transition;
    width: 300px;
    margin: 0 auto;

    @include mediaMin($tablet) {
        float: right;
        margin-left: 15px;
    }

    @include mediaMin($desktop + 20) {
        float: left;
    }

    @include mediaMin($desktop + 100) {
        margin-left: 5%;
    }

    @include mediaMin($desktop + 200) {
        min-width: 300px;
        max-width: 490px;
        margin-left: 15%;
        width: 25%;
    }
}

.somm-info {
    width: 100%;
    overflow: auto;
    margin-bottom: 50px;

    @include mediaMin($desktop + 20) {
        p {
            float: right;
            margin: 0;
            margin-top: 30px;
        }
    }
    @include mediaMin(1400px) {
        p {
            margin-top: 80px;
            margin-right: 10px;
        }
    }
}



.uncorked-info {
    text-align: center;
    margin-top: 50px;
    clear: both;

    @include mediaMin($desktop) {
        text-align: left;
    }

    > p {
        text-align: left;
        margin: 0 auto;
    }

    blockquote {
        display: inline-block;
        vertical-align: top;
        @include mediaMin($desktop) {
            display: block;
            margin-bottom: 100px;
        }
    }

    .quotes {
        @include mediaMin($desktop) {
            float: right;
            margin-top: 100px;
        }
        @include mediaMin($desktop + 400) {
            margin-right: 100px;
        }
    }

}

.clip-wrap {
    margin-top: 30px;
    margin-bottom: 100px;

    h2 {
        font-size: 20px;
        margin-bottom: 15px;
        @include mediaMin($tablet) {
            // float: right;
        }
    }
}


.quote-by {
    font-size: 16px;
    margin-left: 25px;
    margin-top: 5px;
}

// Uncorked image container
.uncorked-img-wrap {
    width: 100%;
}












