#services {
    position: relative;
    width: 100%;
    margin-top: 50px;

    .check-more {
        bottom: 20px;
    }
    

}

.exp-container {
    p {
        max-width: 600px;
    }
}


.somm {
    &:before {
        content: '';
        width: 2px;
        height: 30px;
        margin: 0 3px;
        border-left: 1.5px solid rgba(0,0,0,0.7);
    }
}



