<!-- INSTAGRAM FEED -->

<section id="instagram" class="insta-container s-section" data-section-name="insta">
    <h2>Follow me on Instagram <a href="https://www.instagram.com/richeboured/?hl=en" target="__blank">@richeboured</a></h2>
    <div class="insta-content"></div>
    <button class="insta-more-btn" type="button">view more</button>

</section>