
.banner { 
    position: relative;
    min-height: $banner;

    // background: #262626;
    // box-shadow: 0 0 25px 1px rgba(0,0,0,0.4);
}

.title {
    @include transition;
    position: relative;
    font-family: 'Italianno', cursive;
    font-size: 26px;
    float: left;
    line-height: $banner;
    padding-left: 20px;
    z-index: 1;

    @media screen and (min-width: $iphone6) {
        font-size: 30px;
    }
    @media screen and (min-width: $iphone6P) {
        font-size: 36px;
    }
}
.title a {
    color: white;
    // text-decoration: none;
}