// // // // // // // // // //
//
//       Footer Bottom
//
// // // // // // // // // //

.bottom {
    font-size: 13px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.contact-info {
    @include transition;
    @include center;
    bottom: 100px;
    font-size: 24px;
    text-align: center;
    height: 50px;
    
    @include mediaMin($tablet) {
        top: 40%;
        right: 10px;
        transform: translateY(-50%);
    }
    
    .contact {
        display: inline-block;
        cursor: pointer;
    }
    
    i {
        margin-left: 10px;
    }
    
    ul {
        color: $bone;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;

        li {
            display: block;
            margin-bottom: 5px;
        }
    }
}

.copy {
    @include center;
    bottom: 20px;
    width: 100%;
}


