// // // // // // // // // //
//
//       Service Banner
//
// // // // // // // // // //

.service-banner {
    font-family: 'Raleway',sans-serif;
    color: $offwhite;
    background-color: $primary;
    background-image: url('../../assets/images/nighttime-compressor.jpg');
    background-size: 510%;
    background-repeat: no-repeat;
    background-position-x: 13%;
    width: 100%;
    min-height: 1220px;
    padding-top: 40px;
    padding-bottom: 100px;
    
    @include mediaMin($tablet) {
        background-size: cover;
        background-attachment: fixed;
        background-position-x: unset;
        height: 100vh;
        min-height: 700px;
    }
    
    
    h2 {
        font-family: 'tangerine', cursive;
        position: relative;
        font-size: 100px;
        font-weight: lighter;
        text-align: center;
        z-index: 3;        
    }

    > ul {
        max-width: 1200px;
        margin: 0 auto;
        overflow: auto;
        overflow-x: hidden;
        z-index: 3;
        
    }


}

.row {
    display: block;
    width: 100%;

    ul {
        overflow-y: auto;
        overflow-x: hidden;
    }

    li {
        position: relative;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    
        @include mediaMin($tablet) { // 530px
            width: 33.3%;
            float: left;
        }
        
        label {
            display: block;
            font-size: 22px;
            width: 200px;
            min-height: 50px;
            margin: 10px auto 0;

            @include mediaMin($expand) {
                width: 240px;
                font-size: 24px;
            }
            @include mediaMin($expand) {
                font-size: 28px;
            }
            @include mediaMin($desktop) {
                width: 280px;
                font-size: 32px;
            }
        }
    }
}

.info {
    @include transition(0.5s);
    font-size: 18px;
    margin: 0 auto;
    max-width: 200px;
    max-height: 0;
    overflow: hidden;

    @include mediaMin($landscape) {
        font-size: 22px;
        width: 70%;
        max-width: 400px;
    }

    @include mediaMin($tablet) {
        @include transition(2s, all, cubic-bezier(0.77, 0, 0.175, 1));
        font-size: 26px;
        width: auto;
        max-width: 400px;

    }
    
    &.show {
        max-height: 1000px;
        
        @include mediaMax($tablet - 1) {
            transition-delay: 0.3s;
        }
        @include mediaMin($tablet) {
            transition-delay: unset;
        }
    }
   
}

.tastings, .consulting {
    &~.info {
        margin-top: 25px;
    }
}

// CIRCLES

.circle {
    @include transition(0.7s);
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px solid $offwhite;
    cursor: pointer;

    @include mediaMin($tablet){
        width: 200px;
        height: 200px;
    }
    @include mediaMin($desktop){
        width: 240px;
        height: 240px;
    }

    &:hover, &.current {
        border-color: $offwhite;
        border-color: $blue;
        border-color: #555;
        @include transform(scale(1.1));

        svg {
            fill: $offwhite;
            stroke: $primary;
        }
    }

  
    // SVG Icons

    svg {
        @include transition(0.7s);
        @include abs-middle;
        width: 80px;
        height: 80px;

        fill: $primary;
        stroke: $offwhite;
        
        @include mediaMin($tablet){
            width: 100px;
            height: 100px;
        }
        @include mediaMin($desktop){
            width: 140px;
            height: 140px;
        }
    }

}


#consulting {
    @include transform(translate(-40%, -50%));
}



#tastings {
    width: 100px;
    height: 100px;

    @include mediaMin($tablet){
        width: 120px;
        height: 120px;
    }
    @include mediaMin($desktop){
        width: 160px;
        height: 160px;
    }
}




// .cocktails {
//     svg {
//         @include mediaMin($tablet){
//             width: 80px;
//             height: 80px;
//         }
//         @include mediaMin($desktop){
//             width: 100px;
//             height: 100px;
//         }
//     }
// }