// // // // // // // // // //
//
//      TOP Nav
//
// // // // // // // // // //

.nav {
    height: $banner;
}


.menu-list {
    @include transition(.8s, all, cubic-bezier(0.625, 0.215, 0.265, 0.800));
    background: linear-gradient(-5deg,transparent -200%, #421919 45%,#774e1f);
    position: absolute;
    background: $wine1;
    background: $wine2;
    background: $wine3;
    width: 100%;
    font-size: 24px;
    left: 0;
    top: -400px;
    padding-bottom: 25px;
    text-align: center;
    box-shadow: 0 0 25px 1px rgba(0,0,0,0.5);
    z-index: 6;
    
    @media screen and (min-width: $collapse) {
        font-size: 32px;
    }

    @media screen and (min-width: $desktop) {
        background: transparent;
    }

    li {
        display: block;
        height: 70px;
        line-height: 70px;
        &:first-of-type {
            margin-top: 80px;
        }
    }
    
    a {
        @include transition;
        display: inline-block;
        color: white;
        &:hover {
            color: $brown;
            color: $lightbrown;
        }
    }
    &.open {
        top: 0;
    }
}